<div class="sl-mainpanel">
    <nav class="breadcrumb sl-breadcrumb">
        <h3>Add Customer</h3>
    </nav>
 </div>   

<form>
    <div class="form-row">
      <label> <b>Customer Id : </b></label>
      <div class="col">
        <input type="text" [(ngModel)]="CustomerId" class="form-control" placeholder="Customer Id">
      </div>
      
    </div>
    <div class="form-row">
        <label> <b>Customer Name : </b></label>
        <div class="col">
          <input type="text" [(ngModel)]="CustomerName" class="form-control" placeholder="First name">
        </div>
      </div>
      <div class="form-row">
          <div class="form-layout-footer mg-t-30">
              <button class="btn btn-info mg-r-5">Submit</button>
              <button class="btn btn-secondary">Cancel</button>
            </div>
        </div>
      </div>
  </form>

<br>
<br>
<br>
<br>
<br>
<br>
<div class="sl-mainpanel">
    <nav class="breadcrumb sl-breadcrumb">
        <h3>Customer List</h3>
    </nav>
 </div>   
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Customer Id</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers;let i =index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ customer.customerId }}</td>
        <td>{{ customer.name }}</td>
        <td>
            <a href="#" class="btn btn-sm btn-success" (click)="rowclick(customer)">Edit<i class="fa fa-pencil"></i></a>
            <a href="#" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure to Delete?')">Delete<i class="fa fa-trash"></i></a>
            </td>
      </tr>
    </tbody>
  </table>

  
